REST_PORT=3500
DB_MANAGER_PORT=3501
USER_COLLECTION="users"
TASK_COLLECTION="tasks"
SEASON_COLLECTION="seasons"
USER_TASK_COLLECTION="user_tasks"
DAILY_CHECK_IN_COLLECTION="daily_check_in"
# URI="mongodb://localhost"
URI="mongodb://username:password@mongodb:27017/"
MONGO_PORT=27017
USE_MOCK_DB=true
MONGO_USER="root"
MONGO_PASSWORD="pwd"
