.env*
!.env.example
node_modules
*.swp*
local
*.bkp
db/data
db/backups*
db/logs
backups/
dev-db/data
.gradle
logs/
.idea
build
out
.vscode
bin
test-docker
.prettierignore
.prettierrc
.history
.tmp
dev-db
dist
rabbitmq-data
